@import "../../../global-scss.scss";
.main-content{
    background-image: url(../../../assets/images/image_8.jpg);
    background-size: cover;
    background-attachment: scroll;
    background-repeat: no-repeat;
    color: $color-white;
    min-height: 100vh;
    .col{
        border: $test-border;
    }

    .section-content{
        .container{
            border: $test-border;
        }
        .section-header{
            padding: 10% 0px 0px;
            background: rgb(0,0,0);
            background: linear-gradient(0deg, rgba(0,0,0,1) 14%, rgba(10,9,9,0.7496506590280474) 52%, rgba(0,0,0,0.3117624602702834) 74%);
            .title{
                text-transform: capitalize;
                color: $color-white;
                font-weight: 600;
                font-size: $size-2rem;
            }
            .date{
                text-transform: uppercase;
                font-size: 14px;
                font-weight: 500;
                color: $color-orangered;
            }
            .intro-desc{
                font-size: 18px;
                font-weight: 400;
            }
        }
        .article-content{
            background-color: $color-white;
            color: $color-black-light;
            .recent-article{
                .recent-article-header{
                    .title{
                        text-transform: capitalize;
                        font-size: $size-1-5rem;
                        font-weight: 500;

                    }
                    button{
                        color: $color-black-light;
                        border-color: $color-black-light;
                        outline: none;
                    }
                    button:hover{
                        border-color: rgb(255, 115, 0);
                    }
                }
                .recent-wrapper{
                    .article-link{
                        color: $color-black-light;
                        mat-card{
                            padding: 0px;
                            border-radius: 10px;
                            outline: none;
                            img{
                                width: 100%;
                                height: 250px;
                                border-radius: 10px;
                                margin: 0px;
                            }          
                        } 
        
                        .article-card::after{
                            position: absolute;
                            content: "";
                            top: 0px;
                            left: 0px;
                            z-index: 200;
                            width: 100%;
                            height: 250px;
                            background-color: rgba(240, 72, 6, 0);
                            border-radius: 10px;
                            -webkit-transition: background-color 1s;
                            -moz-transition: background-color 1s;
                            -ms-transition: background-color 1s;
                            -o-transition: background-color 1s;
                            transition: background-color 1s;
                        }
                    
                        .date{
                            text-transform: uppercase;
                            font-size: 12px;
                            font-weight: 500;
                            color: $color-grey;
                        }
                        .title{
                            font-size: $size-1rem;
                            font-weight: 600;
                        
                            -webkit-transition: color 1s;
                            -moz-transition: color 1s;
                            -ms-transition: color 1s;
                            -o-transition: color 1s;
                            transition: color 1s;
                        }
                    
                        
                        .desc{
                            font-weight: 400;
                            font-size: $size-14px;
                            display: -webkit-box;
                            overflow: hidden;
                            -webkit-line-clamp: 3;
                            -webkit-box-orient: vertical;
                        
                        }
        
                    }
                    .article-link:hover{
                        .article-card::after{
                        
                            background-color: rgba(240, 72, 6, 0.233);
                        
                        }
                        .title{
                            color: $color-orangered;
                        
                        }
                    }
                }

            }
            
          
               
               
            
        }
    }
}