@import "../../../global-scss.scss";
.main-content{
    background-image: url(../../../assets/images/image_8.jpg);
    background-size: cover;
    background-attachment: scroll;
    background-repeat: no-repeat;
    color: $color-white;

    .section-content{
        padding: 10% 0px 0px;
        background: rgb(0,0,0);
        background: linear-gradient(0deg, rgba(0,0,0,1) 79%, rgba(0,0,0,0.15730042016806722) 100%);
        .container{
            border: $test-border;
        }
        .section-header{
            p{
                text-transform: uppercase;
                color: $color-white;
                font-weight: 600;
                font-size: $size-1-5rem;
            }
        }
        .content-container{
            .right-content{
                .content-data{
                    .article-link{
                        mat-card{
                            padding: 0px;
                            border-radius: 10px;
                            outline: none;
                            img{
                                width: 100%;
                                height: 250px;
                                border-radius: 10px;
                                margin: 0px;
                            }          
                        } 

                        .article-card::after{
                            position: absolute;
                            content: "";
                            top: 0px;
                            left: 0px;
                            z-index: 200;
                            width: 100%;
                            height: 250px;
                            background-color: rgba(240, 72, 6, 0);
                            border-radius: 10px;
                            -webkit-transition: background-color 1s;
                            -moz-transition: background-color 1s;
                            -ms-transition: background-color 1s;
                            -o-transition: background-color 1s;
                            transition: background-color 1s;
                        }
                       
                        .date{
                            text-transform: uppercase;
                            font-size: 14px;
                            font-weight: 500;
                            color: $color-grey;
                        }
                        .title{
                            font-size: $size-2rem;
                            font-weight: 600;
                            color: $color-white;
                            -webkit-transition: color 1s;
                            -moz-transition: color 1s;
                            -ms-transition: color 1s;
                            -o-transition: color 1s;
                            transition: color 1s;
                        }
                       
                           
                        .desc{
                            font-weight: 400;
                            font-size: $size-16px;
                            color: $color-white;
                        }
    
                    }
                    .article-link:hover{
                        .article-card::after{
                           
                            background-color: rgba(240, 72, 6, 0.233);
                          
                        }
                        .title{
                            color: $color-orangered;
                        
                        }
                    }
                    
    
                }
    
            }
            .side-content{
                .article-categories{
                    background-color: $color-white;
                    width: 100%;    
                    padding: 20px 20px;   
                    border-radius: $size-20px;  
                    margin-bottom: $size-20px;    
                    & > h3{
                        color: $color-black-light;
                        font-size: $size-1-5rem;
                        font-weight: bolder;
                    }    
                    ul{
                        color: $color-silver;
                        margin: 20px 30px;
                        padding: 0px;
                        list-style-type: none;
                        li{
                            a{
                                color: $color-silver;
                                text-decoration: none;
                                text-transform: capitalize;
                                font-weight: $size-2rem;
                                font-weight: bold;
                                padding: $size-10px 0px;
                                display:$display-block;
                            }
                        }
                        li:not(:last-child){
                            border-bottom: $border-light-1;
                        }  
                    }
                }
        
                .latest-tours{
                    background-color: $color-white;
                    width: 100%;    
                    padding-top: 20px;   
                    padding-bottom: 20px; 
                    border-radius: $size-20px;          
                    & > p{
                        color: $color-black-light;
                        font-size: $size-1-5rem;
                        font-weight: bolder;
                    }
                    & > mat-card{
                        display: $display-flex;
                        padding: 0px;
                        margin-top: 20px;
                        border-radius: 10px;
                        img{
                            width: 100%;
                            height: 80px;
                            border-radius: 10px;
                            @include media-breakpoint-up(md){
                                height: 150px;
                            }
                            @include media-breakpoint-up(lg){
                                height: 100px;
                            }
                        }
                        .tour-info{  
                            &>p:first-child{
                                border: $test-border;
                                // line-height: $size-1-5rem;
                                // margin: 0px;
                                font-size: 18px;
                                color: $color-black-light;
                                font-weight: 500;
                            }
                            
                            & > p:nth-child(2){
                                //background-color: red;
                                //word-wrap: break-word;
                                & > span:first-child{
                                    color: $color-orangered;
                                    font-size: 20px;
                                    font-weight: bold;
                                    
                                }
                                & > span:last-child{
                                    font-size: 18px;
                                    color: $color-grey;
                                    text-decoration: line-through;
                                }   
                            }
                            & > p:nth-child(3){
                                color: $color-silver;
                                & > span:first-child{
                                    i{
                                        color: $color-black-light;
                                        font-size: 20px;
                                    }
                                }
                                & > span:last-child{
                                    font-size: 20px;
                                    color: $color-grey;
                                }   
                            }
                            
                        }
                       
                    }
                }
                .question{
                    width: 100%;
                    color: white;
                    background-color: $color-orangered;
                    padding: 20px 20px;   
                    border-radius: $size-20px; 
                    margin-bottom: $size-20px;  
                
                    & >h3{
                        font-size: $size-1-5rem;
                        line-height: $size-1-5rem;
                        color: #fff;
                        font-size: $size-1-5rem;
                        font-weight: bolder;
        
                    }
                    & > p{
                        font-size: $size-18px;
                        font-weight: 500;
                        margin: 20px 0px;
                        line-height: $size-1-5rem;
                    }
                    & >h1{
                        font-size: $size-2rem;
                        margin-bottom: 60px;
                    }             
                }
            }
        }
    }
  
}
