<section class="main-content">
    <div class="section-content">
        <div class="container">
            <div class="section-header mb-4">
                <p class="title">mugga tours blog</p>
            </div>
            <div class="content-container row">
                <div class="right-content col col-12 col-lg-7 p-md-0">
                    <div class="row">
                        <div class="content-data col col-12 mb-5" *ngFor="let item of toursData">
                            <a href="javascript:void(0)" class="article-link" routerLink="/blog-article">
                                <mat-card class="article-card mb-2" >                       
                                    <img  src="../../../assets/images/tour/tour_{{item.id}}.jpg" />  
                                </mat-card>  
                                <p class="date">{{date| date:'mediumDate'}} | UNCATEGORIZED</p>  
                                <p class="title">Pack wisely before travelling</p>
                                <p class="desc">
                                    A wonderful serenity has taken possession of my 
                                    entire soul, like these sweet mornings of spring 
                                    which I enjoy with my whole heart.
                                </p>  
                            </a>
                        </div>
                       
                    </div>
                </div>
                <div class="side-content col col-12 col-lg-5">
                   <div class="container">
                    <div class="row">
                        <div class="article-categories col col-12">
                            <h3>Categories</h3>       
                            <ul>
                                <li *ngFor="let item of articleCategories">
                                    <a href="#">{{item.title}}</a>
                                </li>
                            </ul>  
                        </div>
                        <div class="question col col-12">
                            <p>Got a Question</p>
                            <p>
                                Do not hesitage to give us a call. We are an expert team and we are happy to talk to
                                you
                            </p>
                            <p>+256 789 934 060</p>
                            <p>info@muggatours.com</p>
                        </div>
                        <div class="latest-tours col col-12">
                            <p class="latest-header">Latest Tours</p>       
                            <mat-card *ngFor="let item of latestTourData">
                                <a href="javascript:void(0)" routerLink="/tour">
                                    <div class="row">
                                        <div class="col col-4 pr-0">
                                            <img  src="../../assets/images/tour/tour_{{item.id}}.jpeg" />
                                        </div>
                                        <div class="tour-info col col-8">
                                            <p>A tour of the islands</p>       
                                            <p>
                                                <span class="discounted-price mr-2">$3,800</span>
                                                <span class="original-price">$3,50000</span>
                                            </p>
                                            <p>
                                                <span><i class="far fa-clock mr-2"></i></span>
                                                <span>7 days</span>
                                            </p>
                                        </div>
                                    </div>
                                </a>           
                            </mat-card> 
                        </div>
                    </div>
                    </div>
                   
                </div>
            </div>
        </div>
    </div>
</section>

