<!-- Toolbar -->
<div class="container-fluid">		
	<mat-sidenav-container class="example-container">
		<mat-sidenav #sidenav [mode]="mode">
			<mat-toolbar class="sidenav-header">
				<mat-toolbar-row >
					<img
						width="40"
						alt="Angular Logo"
						src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg=="
					/>
					<span>{{ appTitle }}</span>
				</mat-toolbar-row>
			</mat-toolbar>
			
			<div class="sidenav-menu">
				<ul>
					<li class="item-link">
						<a class="a-link" (click)="sidenav.toggle()" routerLink = "/home">
							<i class="fas fa-home mr-2"></i>Home
						</a>
					</li>
					<li class="item-link">
						<a class="a-link" (click)="sidenav.toggle()" routerLink = "/tour">
							<i class="fas fa-route mr-2"></i>Tour
						</a>
					</li>
					<li class="item-link">
						<a class="a-link" (click)="sidenav.toggle()" routerLink = "/tours">
						<i class="fas fa-object-group mr-2"></i>Tour List</a>
					</li>
					<li class="item-link">
						<a class="a-link" (click)="sidenav.toggle()" routerLink = "/blog">
							<i class="fas fa-blog mr-2"></i>Blog
						</a>
					</li>
					<li class="item-link">
						<a class="a-link" (click)="sidenav.toggle()" routerLink = "/contact">
							<i class="far fa-address-card mr-2"></i>Contact
						</a>
					</li>
					<li class="item-link">
						<a class="a-link" (click)="sidenav.toggle()" routerLink = "/about">
							<i class="far fa-question-circle mr-2"></i>About
						</a>
					</li>
				</ul>
			</div>
		</mat-sidenav>

		<mat-sidenav-content>
			<mat-toolbar class="sidenav-header">
				<mat-toolbar-row >	
					<img
						width="40"
						alt="Angular Logo"
						src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg=="
					/>
					<span>{{appTitle}}</span>
				
					<div class="row ml-4 d-none d-lg-flex">
						<div class="col">
							<a href="#" class="a-link" routerLink="/home">Home</a>
						</div>
						<div class="col">
							<a href="#" class="a-link" routerLink="/tours">Tours</a>
						</div>
						<div class="col">
							<a href="#" class="a-link" routerLink="destinations">Destinations</a>
						</div>
						<div class="col">
							<a href="#" class="a-link" routerLink="/blog">Blog</a>
						</div>
						<div class="col">
							<a href="#" class="a-link" routerLink="/about">About</a>
						</div>
						<div class="col">
							<a href="#" class="a-link" routerLink="/contact">Contact</a>
						</div>				
					</div>
					<span class="spacer-1"></span>
					
				<!--	<div class="search">
						<input type="text" />
						<a href="#"><i class="fas fa-search pl-2 pr-2"></i></a>	
					</div>-->
					
					<div class="row d-none d-lg-flex ml-4">
						<div class="col color-white">
							<a href="#"><i class="fab fa-facebook color-white"></i></a>
						</div>
						<div class="col color-white">
							<a href="#"><i class="fab fa-twitter-square color-white"></i></a>
						</div>
						<div class="col color-white">
							<a href="#"><i class="fab fa-instagram color-white"></i></a>
						</div>
					</div>
					<div class="row d-lg-none ml-4">
						<div class="col p-0">
							<button mat-icon-button (click)="sidenav.toggle()"  aria-label="Example icon-button with menu icon">
								<mat-icon>menu</mat-icon>
							</button>
						</div>
					</div>
					
				</mat-toolbar-row>
			</mat-toolbar>
			<router-outlet class="main-outlet"></router-outlet>
			<footer>
				<div class="container-wrapper">
					<div class="row nav-links">
						<div class="col col-4 col-md-2 p-2">
							<a href="#" class="a-link" routerLink="/home">Home</a>
						</div>
						<div class="col col-4 col-md-2 p-2">
							<a href="#" class="a-link" routerLink="/tours">Tours</a>
						</div>
						<div class="col col-4 col-md-2 p-2">
							<a href="#" class="a-link" routerLink="destinations">Destinations</a>
						</div>
						<div class="col col-4 col-md-2 p-2">
							<a href="#" class="a-link" routerLink="/blog">Blog</a>
						</div>
						<div class="col col-4 col-md-2 p-2">
							<a href="#" class="a-link" routerLink="/about">About</a>
						</div>
						<div class="col col-4 col-md-2 p-2">
							<a href="#" class="a-link" ro2terLink="/contact">Contact</a>
						</div>
					</div>
					<div class="row quick-links">
						<div class="col col-12 col-md-3 d-none">
							<h2>Mugga Tours</h2>
							<p>
								Far far away, behind the word mountains, far from the countries Vokalia and 
								Consonantia, there live the blind texts.
							</p>
						</div>
						<div class="col col-12 col-md-4 p-0">
							<ul>
								<li><a href="#">Newsletter</a></li>
								<li><a href="#">Out door activities</a></li>
								<li><a href="#">City tours</a></li>
								<li><a href="#">Caltural and thematic tours</a></li>
							</ul>
						</div>
						<div class="col col-12 col-md-4 p-0">
							<ul>
								<li><a href="#">Family Friendly Tours</a></li>
								<li><a href="#">Relaxation Tours</a></li>
								<li><a href="#">Holidy & Seasonal Tours</a></li>
								<li><a href="#">Wild & Adeventure Tours</a></li>
							</ul>
						</div>
						<div class="col col-12 col-md-4 p-0">
							<ul>
								<li>
									<h5 style="text-transform: uppercase;color: rgb(172, 167, 167);">Contacts</h5>
								</li>
								<li>
									<!--<span style="color:  rgb(70, 68, 68); font-weight: bold;">Address:</span>-->
									12 Main Street, Kampala
								</li>
								<!--<li><Span style="color:  rgb(70, 68, 68); font-weight: bold;">Phone:</Span>+256 77899340</li>-->
								<li><a href="#">info@muggatours.com</a></li>
							</ul>
						</div>
					</div>
					
				</div>	
				<div class="footer-two">
					<div class="container">
					<div class="row">
						<div class="col col-12 col-md-6 mr-auto">
							<p>Copyright 2020 | All rights reserved</p>
						</div>
						<div class="col col-12 col-md-6">
							<p class="developer">Developed by <a href="#">Accelerated Tecnosoft</a></p>
						</div>
					</div>
					</div>
				</div>			
			</footer>
		</mat-sidenav-content>
	</mat-sidenav-container>
</div>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->




