<section class="main-content">
    <div class="tours-container">
        <div class="top-wrapper">
            <div class="top-overlay">
                <div class="container">
                    <div class="row">
                        <div class="search-tours col col-12 p-0">
                            <p class="search-header">Search Tours</p>
                           <!-- <mat-card class="search-tours-form">
                                <div class="section-content">
                                    <div class="input-set">
                                        <form [formGroup]="searchToureForm" class="search-tour-form" [style.fontSize.px]="16">                    
                                            <mat-form-field appearance="outline">
                                                <mat-label>Key word</mat-label>
                                                <input matInput type="text" id="keyword" formControlName="keyWord">
                                                <span matSuffix><mat-icon>search</mat-icon></span>
                                            </mat-form-field>
                                            
                                            <mat-form-field appearance="outline">
                                                <mat-label>Activity</mat-label>
                                                <mat-select required id="activity" formControlName="activity">
                                                    <mat-option>-- None --</mat-option>
                                                    <mat-option value="option">Option</mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                            
                                            <mat-form-field appearance="outline">
                                                <mat-label>Destination</mat-label>
                                                <mat-select id="destination" required formControlName="destination">
                                                    <mat-option>-- None --</mat-option>
                                                    <mat-option value="option">Option</mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                            
                                            <mat-form-field appearance="outline">
                                                <mat-label>Duration</mat-label>
                                                <mat-select id="duration" required formControlName="duration">
                                                    <mat-option>-- None --</mat-option>
                                                    <mat-option value="option">Option</mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                            
                                            <mat-form-field color="accent" appearance="outline">
                                                <mat-label>Date</mat-label>
                                                <input matInput id="date" [matDatepicker]="picker1" formControlName="date">
                                                <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                                                <mat-datepicker #picker1></mat-datepicker>
                                            </mat-form-field>
                                            <button mat-fab type="submit"><mat-icon>search</mat-icon></button>                                      
                                        </form>
                                    </div>
                                </div>
                            </mat-card>-->
                        </div>
                        <div class="destinations-slider col col-12 p-0 mt-4">
                            <div  class="swiper-container" [swiper]="destinationConfig" >
                                <div class="swiper-wrapper free-flow">             
                                    <mat-card class="swiper-slide p-0" *ngFor="let item of destinationsData" >                       
                                        <img height="100px" width="100%"  src="../../assets/images/tour/tour_{{item.id}}.jpeg" />
                                        <div class="country-overlay">
                                            <div class="container">
                                                <div class="row justify-content-center">
                                                    <div class="col col-10 align-self-center">
                                                        <p>Uganda</p>  
                                                    </div>
                                                </div>
                                            </div>                           
                                        </div>                   
                                    </mat-card>                                        
                                </div> 
                                <div class="swiper-overlay"></div>         
                            </div>  
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container mt-4">
            <div class="tours-content row">
                <div class="tours-main-content col col-12 col-lg-7 p-md-0">
                    <mat-card class="tour-card" *ngFor="let item of toursData">  
                        <a href="javascript:void(0)" routerLink="/tour">                          
                            <img src="../../assets/images/tour/tour_{{item.id}}.jpeg" />                   
                            <div class="card-overlay">
                                <div class="container">
                                    <div class="row overlay-body">  
                                        <div class="col col-12 ">
                                            <mat-chip-list>
                                                <mat-chip color="primary" class="discount-tag"> 20% off</mat-chip>
                                                <mat-chip color="accent" class="status-tag">New</mat-chip>
                                            </mat-chip-list> 
                                        </div>               
                                        <div class="col col-12 align-self-end">
                                            <div class="row">
                                                <div class="rating col col-12">
                                                    <ngb-rating [(rate)]="currentRate">
                                                        <ng-template let-fill="fill" let-index="index">
                                                            <span class="star" [class.filled]="fill === 100">&#9733;</span>
                                                        </ng-template>
                                                    </ngb-rating>
                                                    <span class="reviews">(2 Reviews)</span>
                                                </div>
                                                <div class="overlay-title col col-12">
                                                    <span> A toure of the highlands</span>
                                                </div>
                                                <div class="overlay-text col col-12">
                                                    6 excursions to the main cities of the country, 
                                                    admire the beautiful autum gardens,
                                                    10 excursions to the main cities of the country, 
                                                    admire the beautiful autum gardens
                                                </div>
                                                <div class=" overlay-footer col col-12">
                                                    <i class="far fa-clock fa-2x"></i>            
                                                    <span class="icon-text"> 7 days</span>
                                                </div>
                                            </div>
                                        
                                        </div>                               
                                    
                                    </div>    
                                </div>                                     
                            </div> 
                        </a>
                        
                       <!-- <div class="card-overlay">
                            <mat-chip-list>
                                <mat-chip color="primary" class="discount-tag"> 20% off</mat-chip>
                                <mat-chip color="accent" class="status-tag">New</mat-chip>
                            </mat-chip-list> 
                            <div class="spacer-3"></div>
                            <div class="overlay-body">
                                <div class="rating">
                                    <ngb-rating [(rate)]="currentRate">
                                        <ng-template let-fill="fill" let-index="index">
                                            <span class="star" [class.filled]="fill === 100">&#9733;</span>
                                        </ng-template>
                                    </ngb-rating>
                                    <span class="reviews">(2 Reviews)</span>
                                </div>  
                                <div class="overlay-title">
                                    A toure of the highlands
                                </div>  
                                <div class="overlay-text">
                                    6 excursions to the main cities of the country, 
                                    admire the beautiful autum gardens
                                </div>   
                            </div>                           
                            <div class="overlay-footer">  
                                <mat-icon>schedule</mat-icon>        
                                <span class="icon-text"> 7 days ago</span>
                            </div>                
                        </div>-->
                    </mat-card> 

                </div>
                <div class="tours-side-content col col-12 col-lg-5">
                    <div class="container">
                        <div class="row">
                            <div class="latest-tours col col-12">
                                <p class="latest-header">Latest Tours</p>       
                                <mat-card *ngFor="let item of latestTourData">
                                    <a href="javascript:void(0)" routerLink="/tour">
                                        <div class="container">
                                            <div class="row">
                                                <div class="col col-4 p-0">
                                                    <img  src="../../assets/images/tour/tour_{{item.id}}.jpeg" />
                                                </div>
                                                <div class="tour-info col col-8">
                                                    <p>A tour of the islands</p>       
                                                    <p class="tour-cost">
                                                        <span class="discounted-price mr-2">$3,800</span>
                                                        <span class="original-price">$3,50000</span>
                                                    </p>
                                                    <p>
                                                        <span><i class="far fa-clock mr-2"></i></span>
                                                        <span>7 days</span>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>   
                                    </a>
                                </mat-card> 
                            </div>
                            <div class="tour-category col col-12">
                                <p class="category-header">Tour Category</p>
                                <ul>
                                    <li><a href="javascript:void(0)">Tour Category</a></li>
                                    <li><a href="javascript:void(0)">Outdoor Activites</a></li>
                                    <li><a href="javascript:void(0)">City Tours</a></li>
                                    <li><a href="javascript:void(0)">Cultural & Thematic Tours</a></li>
                                    <li><a href="javascript:void(0)">Indulgence & Luxury Tours</a></li>
                                    <li><a href="javascript:void(0)">Family Friendly Tours</a></li>
                                    <li><a href="javascript:void(0)">Holiday & Seasonal Tours</a></li>
                                </ul>
                            </div>
                            <div class="recent-articles col col-12">
                                <p class="recent-header">Recent Articles</p>       
                                <mat-card *ngFor="let item of recentArticleData">
                                    <a href="javascript:void(0)" routerLink="/blog-article">
                                        <div class="container">
                                            <div class="article-info row">
                                                <div class="col col-4 p-0">
                                                    <img height="130px" width="100%"  src="../../assets/images/tour/tour_{{item.id}}.jpg" />
                                                </div>
                                                <div class="col col-8">
                                                    <p>Pack wisely before travelling</p>
                                                    <p>
                                                        <i class="far fa-clock mr-2"></i>
                                                        <span>{{date|date:'mediumDate'}}</span>
                                                    </p>
                                                </div>
                                            
                                            </div>   
                                        </div>    
                                    </a>
                                </mat-card>     
                            </div>
                            <div class="question col col-12">
                                <p class="question-header">Got a Question</p>
                                <p>
                                    Do not hesitage to give us a call. We are an expert team and we are happy to talk to
                                    you
                                </p>
                                <p class="question-contact">+256 789 934 060</p>
                                <p class="question-email">info@muggatours.com</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
