<div class="container">
    <div class="row">
        <div class="bread-crumbs col col-12">
            <nav aria-label="breadcrumb">
               
                <ol class="breadcrumb">    
                    <li class="breadcrumb-item active"> {{page_title | titlecase}}</li>         
                    <li class="breadcrumb-item" *ngFor="let item of bread_crumbs">
                        <a routerLink="{{item.link}}" router LinkActive="active" 
                            [routerLinkActiveOptions]="{exact: true}">
                            {{ item.title | titlecase }}
                        </a>
                    </li>
                   <!-- <li *ngIf="routerLinkActive" class="breadcrumb-item active" aria-current="page"> {{item.title | titlecase}}</li>-->
                </ol>
            </nav>
        </div>
        <div class="btn-actions col"></div>
    </div>
</div>
