<section class="section-wrapper">
    <div class="container">
        <div class="container">
        <div class="section-header row mb-2">
            <div class="col col-12 col-md-6 align-self-center mr-auto">
                <p class="title">about us</p>
            </div>
            <div class="col col-3 col-md-1 d-none d-lg-block align-self-center">
                <button class="btn btn-outline rounded-circle prev-img"><i class="fas fa-arrow-left"></i></button>
            </div>
            <div class="col col-3 col-md-1 d-none d-lg-block align-self-center">
                <button class="btn btn-outline rounded-circle next-img"><i class="fas fa-arrow-right"></i></button>
            </div>
        </div>
        </div>
        <div  class="swiper-container images" [swiper]="aboutConfig" >
            <div class="swiper-wrapper">
                <div class="swiper-slide" *ngFor="let item of aboutData1" >     
                    <mat-card class="p-0">                       
                        <img src="../../assets/images/tour/tour_{{item.id}}.jpeg" />                           
                    </mat-card>                         
                </div>                     
            </div>            
        </div> 

        <div class="section-content"> 
            <p class="title">Mugga Tours</p>
            <p class="about-desc">
                Curabitur blandit tempus porttitor. Lorem ipsum dolor sit
                amet, consectetur adipiscing elit. Cras mattis consectetur
                purus sit amet fermentum. Etiam porta sem malesuada magna
                mollis euismod. Lorem ipsum dolor sit amet, consectetur
                adipiscing elit.Maecenas sed diam eget risus varius
                blandit sit amet non magna. Morbi leo risus, porta ac
                consectetur ac, vestibulum at eros. Nullam id dolor id
                nibh ultricies vehicula ut id elit. Donec ullamcorper
                nulla non metus auctor
            </p>
            <div class="container">
                <div class="stats row">
                    <div class="col">
                        <p>435</p>
                        <p>People in the team</p>
                    </div>
                    <div class="col">
                        <p>435</p>
                        <p>Travels this year</p>
                    </div>
                    <div class="col">
                        <p>1998</p>
                        <p>We have been working since</p>
                    </div>
                </div>
            </div>
            <div class="profile-imgs">
                <p class="title">team</p>
                <div class="container">
                    <div class="row">
                        <div class="col col-12 col-md-4 mb-2 mb-md-0" *ngFor="let item of profileData">
                            <mat-card >
                                <img src="../../assets/profile/profile_{{item.id}}.jpg"/>
                                <mat-card-content>
                                    <p>{{item.name}}</p>
                                    <p>{{item.title}}</p>
                                </mat-card-content>
                            </mat-card>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

