@import '../../../../global-scss.scss';
.sidenav-container {
	  height: 100%;
}

.sidenav {
  	width: 250px;
}
mat-nav-list{
  	height: 90%;
}

.sidenav .mat-toolbar {
	background: $color-orange-bright;
	color: $color-white;
}

.mat-toolbar.mat-primary {
	position: sticky;
	top: 0;
	z-index: 1;
}

mat-sidenav-content{
	mat-toolbar{
		border: $test-border;
		.cv{
			display: flex;
			div{
				border: $test-border;
			}
			div:nth-child(2){
				flex-grow: 3;
				background-color: red;

			}
		}
		
	}
}
